@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


:root{
    --headingFontFamily:"Josefin Sans", serif;
    --descFontFamily: "Roboto Mono", monospace;
}

*{
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
  outline: none;
}
body{
  scroll-behavior: smooth;
  background-color: #000704ec;
  color: rgba(238, 255, 238, 0.973);
  position: relative;
  /* padding: 0 1%; */
}

footer{
  position: absolute;
  top: 100%;
  bottom: -1%;
  left: 0;
  right: 0;
}

@media (min-width:1900px) {
  body{
    padding: 1% 15%;
  }
}


nav{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100000;
  background-color: #000704b2;
}

/* main{
  position: relative;
  top: -7rem;
} */


h1 ,h2 ,h3 ,h4 ,h5 ,h6 {
  font-family: var(--headingFontFamily);
  padding: .4rem .6rem;
  font-optical-sizing: auto;
}

p ,li ,a ,td ,strong ,button, b, i, input{
  font-family: var(--descFontFamily);
  font-optical-sizing: auto;
  padding: .4rem .6rem;
  font-weight: 500;
  font-size: .8rem;
}

/* button{
  background-color: #03c23dec;
  cursor: pointer;
  border-radius: .5rem;
  border: none;
  margin: 1px 2px;
  transition: all .3s ease-in-out;
}button:hover{
  background-color: #000704ad;
  border: 1px solid aqua;
  color: #03c23dec;
  cursor: pointer;
  border-radius: 0rem;
} */


