.about{
    padding: 1rem;
}

.aboutHead{
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('https://i.ibb.co.com/J2HqPsk/about.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* color: #ffed9d; */
}
.aboutHead hr{
    width: 10rem;
    color: gold;
}

.aboutHead h1{
    font-family: "Roboto, mono", monospace;
    font-size: 3rem;
    color: #27020b;
}

.abouthero{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-top: -5%;
}

.heroSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff0040;
    color: antiquewhite;
    width: 18rem;
    height: 20rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}.heroSec:hover{
    transform: translateY(-10%);
}

.heroSec h3{
    font-size: 3rem;
    color: gold;
}
.heroSec p{
    font-size: 1.3rem;
}

.aboutDesc{
    padding: 2rem ;
}

.aboutDesc div{
    display: flex;
    flex-direction: column;
}
.aboutDesc hr{
    width: 4rem;
    height: 2px;
    background-color: gold;
}
.aboutDesc p{
    font-size: 1.1rem;
    color: #b6b1b1d2;
}
.aboutDesc h4{
    font-size: 1.5rem;
}

.aboutImg{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center ;
    padding: 1rem;
    gap: 1rem;
}

.aboutImg img{
    width: 90%;
}



